@using WebApp2.Models;

@model UserDto
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<h2>Регистрация</h2>

@if (!ViewData.ModelState.IsValid)
{
    foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        <div class="alert alert-danger" role="alert">
            @error.ErrorMessage
        </div>
    }
}

<form method="post" asp-controller="Account" asp-action="Register" class="form-group">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username:" name="userName" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password:" name="password" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Phone number:" name="phone" required>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
