################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApp2/FileContentIndex/0809998f-46ec-4f79-a008-632a3dbecf9e.vsidx
