appsettings.json
################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApp2/FileContentIndex/0809998f-46ec-4f79-a008-632a3dbecf9e.vsidx
/.vs/WebApp2
/bin/Debug/net8.0
/.vs/ProjectEvaluation
/obj
*.user
/.vs/OnlineStore/v17/.wsuo
/Controllers/BrosShopImagesController.cs
/Data/ApplicationContext.cs
/Models/BrosShopOrder.cs
/Models/BrosShopProduct.cs
/.gitignore
