@model WebApp2.Models.BrosShopUser

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BrosShopUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BrosShopUsername" class="control-label"></label>
                <input asp-for="BrosShopUsername" class="form-control" />
                <span asp-validation-for="BrosShopUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrosShopPassword" class="control-label"></label>
                <input asp-for="BrosShopPassword" class="form-control" />
                <span asp-validation-for="BrosShopPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrosShopEmail" class="control-label"></label>
                <input asp-for="BrosShopEmail" class="form-control" />
                <span asp-validation-for="BrosShopEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrosShopFullName" class="control-label"></label>
                <input asp-for="BrosShopFullName" class="form-control" />
                <span asp-validation-for="BrosShopFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrosShopPhoneNumber" class="control-label"></label>
                <input asp-for="BrosShopPhoneNumber" class="form-control" />
                <span asp-validation-for="BrosShopPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
