@model WebApp2.Models.BrosShopProduct

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BrosShopProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BrosShopProductId" />
            <div class="form-group">
                <label asp-for="BrosShopPrice" class="control-label"></label>
                <input asp-for="BrosShopPrice" class="form-control" />
                <span asp-validation-for="BrosShopPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrosShopTitle" class="control-label"></label>
                <input asp-for="BrosShopTitle" class="form-control" />
                <span asp-validation-for="BrosShopTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrosShopDiscountPercent" class="control-label"></label>
                <input asp-for="BrosShopDiscountPercent" class="form-control" />
                <span asp-validation-for="BrosShopDiscountPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrosShopWbarticul" class="control-label"></label>
                <input asp-for="BrosShopWbarticul" class="form-control" />
                <span asp-validation-for="BrosShopWbarticul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrosShopDescription" class="control-label"></label>
                <input asp-for="BrosShopDescription" class="form-control" />
                <span asp-validation-for="BrosShopDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrosShopCategoryId" class="control-label"></label>
                <select asp-for="BrosShopCategoryId" class="form-control" asp-items="ViewBag.BrosShopCategoryId" type="number"></select>
                <span asp-validation-for="BrosShopCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrosShopPurcharesePrice" class="control-label"></label>
                <input asp-for="BrosShopPurcharesePrice" class="form-control" type="number"/>
                <span asp-validation-for="BrosShopPurcharesePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
