@{
    ViewData["Title"] = "Главная страница";
}
<h1 style="text-align: center;">@ViewData["Title"]</h1>

<div class="container @((Context.Request.Cookies["theme"] == "1") ? "dark-theme" : "light-theme")" style="max-width: 800px; margin: auto; padding: 20px; border-radius: 8px;">

    <h2>О нас</h2>
    <p style="font-size: 18px; line-height: 1.6;">Добро пожаловать в <strong>Bro’s Shop</strong> - Магазин у братана! 😎</p>
    <p style="font-size: 16px; line-height: 1.5;">В нашей группе ты найдешь свежий, качественный стафф известных брендов, а также редкие модели, которых нет в твоем городе.</p>

    <h3>Наши предложения:</h3>
    <ul style="list-style-type: disc; padding-left: 20px;">
        <li>Оригинальная продукция по ценам ниже рыночной стоимости в РФ. <a href="https://vk.com/brosoriginal" target="_blank">Жмякай по ссылке</a></li>
        <li>Бесплатная доставка по всей РФ от покупки 4000р.</li>
    </ul>

    <h3>Наши контакты:</h3>
    <p>Мы находимся в самом центре г. Архангельска, Проспект Обводного канала, 54</p>
    <p>График работы: <strong>Ежедневно с 11:00 - 21:00</strong></p>

    <h3>Ссылки на нас:</h3>
    <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
        <div style="flex: 1; margin-right: 10px;">
            <p>Ссылка на нас в ВКонтакте:</p>
            <a class="dropdown-item" href="https://vk.com/broshop22" target="_blank">ВКонтакте</a>
        </div>
        <div style="flex: 1; margin-left: 10px;">
            <p>Ссылка на нас в Telegram:</p>
            <a class="dropdown-item" href="https://t.me/brosshop29" target="_blank">Telegram</a>
        </div>
    </div>

    <h3>Сканируйте QR-коды:</h3>
    <div style="display: flex; justify-content: space-between;">
        <div style="flex: 1; margin-right: 10px; text-align: center;">
            <p>QR-код для ВКонтакте:</p>
            <img src="https://api.qrserver.com/v1/create-qr-code/?data=https://vk.com/broshop22&size=150x150" alt="QR-код ВКонтакте" />
        </div>
        <div style="flex: 1; margin-left: 10px; text-align: center;">
            <p>QR-код для Telegram:</p>
            <img src="https://api.qrserver.com/v1/create-qr-code/?data=https://t.me/brosshop29&size=150x150" alt="QR-код Telegram" />
        </div>
    </div>

    <h3>Отзывы:</h3>
    <p>Посмотрите, что говорят наши клиенты! <a href="https://vk.com/topic-196399446_48837761" target="_blank">Читать отзывы</a> ✅</p>

    <h3>Контактная информация:</h3>
    <p>ИП ЕЛСУКОВ ДЕНИС СЕРГЕЕВИЧ</p>
    <p>ИНН: 290130190154</p>
    <p>ОГРНИП: 323290000030325</p>

    <h2 class="toggle-button" onclick="togglePrivacyPolicy()">Политика конфиденциальности персональной информации</h2>
    <div id="privacyPolicy" style="display: none;">
        <div class="accordion">
            <h3>1. О чем этот документ?</h3>
            <p>Настоящая Политика объясняет, как Bro’s Shop обрабатывает ваши персональные данные при использовании наших сервисов. Она также является согласием на обработку ваших данных в соответствии с действующим законодательством.</p>

            <h3>2. Что такое персональные данные?</h3>
            <p>Персональные данные — это информация, которая относится к вам как к пользователю сервисов Bro’s Shop. Обработка включает сбор, хранение, использование и передачу ваших данных. К персональным данным могут относиться:</p>
            <ul>
                <li>Фамилия, имя, отчество</li>
                <li>Адрес электронной почты</li>
                <li>Номер телефона</li>
                <li>Адрес доставки</li>
                <li>Данные о платежах</li>
                <li>Информация о ваших предпочтениях и интересах</li>
            </ul>

            <h3>3. Кто обрабатывает ваши данные?</h3>
            <p>Обработка ваших персональных данных осуществляется Bro’s Shop, зарегистрированным по адресу: [укажите адрес], который отвечает за предоставление услуг и защиту вашей информации. Мы принимаем все необходимые меры для обеспечения безопасности ваших данных.</p>

            <h3>4. Как Политика соотносится с другими документами?</h3>
            <p>Настоящая Политика применяется совместно с другими юридическими документами Bro’s Shop, включая Условия использования и другие соглашения. В случае противоречий между документами, приоритет имеет данная Политика.</p>

            <h3>5. Кому мы передаем ваши данные?</h3>
            <p>Ваши данные могут передаваться третьим лицам только в необходимых случаях, например:</p>
            <ul>
                <li>Для выполнения договоров (например, передача данных курьерским службам для доставки товаров).</li>
                <li>Для соблюдения законодательства (например, по запросу государственных органов).</li>
                <li>С вашего согласия (например, при подписке на рассылку).</li>
            </ul>

            <h3>6. Откуда мы получаем ваши данные?</h3>
            <p>Данные получаются непосредственно от вас при использовании сервисов Bro’s Shop, а также автоматически через cookies и другие технологии для улучшения пользовательского опыта. Мы можем собирать информацию о вашем устройстве, браузере, IP-адресе и действиях на сайте.</p>

            <h3>7. Как мы используем ваши данные?</h3>
            <p>Мы используем ваши персональные данные для:</p>
            <ul>
                <li>Обработки заказов и предоставления услуг.</li>
                <li>Связи с вами по вопросам, связанным с вашими заказами.</li>
                <li>Улучшения качества наших услуг и пользовательского опыта.</li>
                <li>Отправки вам информационных и рекламных материалов (если вы подписались на рассылку).</li>
                <li>Анализа и исследования для улучшения наших сервисов.</li>
            </ul>

            <h3>8. Как мы защищаем ваши данные?</h3>
            <p>Мы принимаем необходимые технические и организационные меры для защиты ваших персональных данных от несанкционированного доступа, утраты или уничтожения. Доступ к вашим данным имеют только уполномоченные сотрудники, которые обязаны соблюдать конфиденциальность. Мы используем шифрование и другие технологии для защиты данных.</p>

            <h3>9. Ваши права</h3>
            <p>Вы имеете право:</p>
            <ul>
                <li>Запрашивать доступ к своим персональным данным.</li>
                <li>Требовать исправления неточных данных.</li>
                <li>Запрашивать удаление своих данных, если они больше не нужны для целей, для которых они были собраны.</li>
                <li>Отозвать согласие на обработку данных в любое время.</li>
                <li>Запрашивать ограничение обработки ваших данных.</li>
                <li>Получать свои данные в структурированном, общепринятом и машиночитаемом формате.</li>
            </ul>

            <h3>10. Изменения в Политике</h3>
            <p>Мы оставляем за собой право вносить изменения в настоящую Политику. Все изменения будут опубликованы на нашем сайте, и мы рекомендуем периодически проверять эту страницу для получения актуальной информации.</p>

            <h3>11. Контактная информация</h3>
            <p>Если у вас есть вопросы или пожелания по поводу нашей Политики конфиденциальности, пожалуйста, свяжитесь с нами по следующему адресу:</p>
            <ul>
               @*  <li>Электронная почта: <a href="mailto:support@bros-shop.ru">support@bros-shop.ru</a></li>
                <li>Телефон: +7 (XXX) XXX-XX-XX</li> *@
                <li>Адрес: просп. Обводный канал, 54, Архангельск</li>
            </ul>

            <h3>12. Использование файлов cookie</h3>
            <p>Мы используем файлы cookie и аналогичные технологии для улучшения работы нашего сайта и предоставления вам персонализированного опыта. Файлы cookie — это небольшие текстовые файлы, которые сохраняются на вашем устройстве при посещении сайта. Вы можете управлять настройками cookie через настройки вашего браузера.</p>

            <h3>13. Ссылки на сторонние ресурсы</h3>
            <p>Наш сайт может содержать ссылки на сторонние ресурсы. Мы не несем ответственности за содержание и политику конфиденциальности этих ресурсов. Рекомендуем вам ознакомиться с политикой конфиденциальности каждого сайта, который вы посещаете.</p>

            <h3>14. Согласие на обработку данных</h3>
            <p>Используя наши сервисы, вы соглашаетесь с условиями данной Политики конфиденциальности и даете согласие на обработку ваших персональных данных в соответствии с указанными условиями.</p>

            <h3>15. Заключительные положения</h3>
            <p>Настоящая Политика конфиденциальности вступает в силу с момента ее публикации на сайте. Мы рекомендуем вам периодически пересматривать данную Политику для получения актуальной информации о том, как мы защищаем ваши данные.</p>
        </div>
    </div>
</div>

<script>
    function togglePrivacyPolicy() {
        const policy = document.getElementById('privacyPolicy');
        policy.style.display = policy.style.display === 'block' ? 'none' : 'block';
    }

    // Обработчик для аккордеона
    document.querySelectorAll('.accordion h3').forEach(item => {
        item.addEventListener('click', () => {
            const panel = item.nextElementSibling;
            panel.style.display = panel.style.display === 'block' ? 'none' : 'block';
        });
    });
</script>
</div>

