@{
    ViewData["Title"] = "Главная страница";
}

<h1>Добро пожаловать на главную страницу!</h1>

@if (ViewBag.Username != null)
{
    <p>Вы вошли как: @ViewBag.Username</p>
    <form asp-controller="Account" asp-action="Logout" method="post">
        <button type="submit">Выйти</button>
    </form>
}
else
{
    <p>Вы не авторизованы.</p>
    <a asp-controller="Account" asp-action="Login">Войти</a>
}