@{
    ViewData["Title"] = "Главная страница";
}

<h1>Добро пожаловать на главную страницу!</h1>

<h2>Как пользоваться сайтом</h2>
<p>На нашем сайте вы можете:</p>
<ul>
    <li><strong>Главная страница:</strong> На главной странице вы можете увидеть приветственное сообщение и основную информацию о магазине.</li>
    <li><strong>О нас:</strong> Эта страница содержит информацию о магазине, его предложениях, контактные данные и ссылки на социальные сети. Здесь вы можете узнать больше о том, что мы предлагаем, и как с нами связаться.</li>
    <li><strong>Каталог:</strong> На странице каталога представлены товары, которые вы можете просмотреть. Каждый товар имеет изображение, название, цену и описание. Нажав на товар, вы сможете увидеть его подробности.</li>
    <li><strong>Корзина:</strong> В корзине отображаются все товары, которые вы добавили. Вы можете изменить количество товаров, удалить их из корзины или оформить заказ.</li>
    <li><strong>Авторизация:</strong> Если вы хотите сделать покупку, вам необходимо войти в систему. На странице авторизации вы можете ввести свои учетные данные или зарегистрироваться, если у вас еще нет аккаунта.</li>
</ul>

<h2>Кнопки в заголовке</h2>
<ul>
    <li><strong>Home:</strong> Перенаправляет на главную страницу сайта.</li>
    <li><strong>О нас:</strong> Перенаправляет на страницу с информацией о магазине.</li>
    <li><strong>Каталог:</strong> Перенаправляет на страницу с каталогом товаров, где вы можете просмотреть доступные товары.</li>
    <li><strong>Перейти в корзину:</strong> Если вы авторизованы, эта кнопка перенаправит вас в вашу корзину, где вы можете просмотреть и управлять добавленными товарами.</li>
    <li><strong>Авторизация:</strong> Если вы не вошли в систему, эта кнопка перенаправит вас на страницу авторизации. Если вы уже вошли, вместо этого будет кнопка "Выход", которая позволит вам выйти из системы.</li>
</ul>

<p>Мы надеемся, что вы получите удовольствие от покупок в <strong>Bro’s Shop</strong>! Если у вас возникнут вопросы, не стесняйтесь обращаться к нам через раздел "О нас".</p>
