html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

    body.light-theme {
        background: linear-gradient(135deg, #e0e0e0, #b0b0b0);
        color: #000; /* Черный текст */
    }

    body.dark-theme {
        background-image: radial-gradient(#2f2f2f 20%, #333333 20%, #333333 50%, #2f2f2f 50%, #2f2f2f 70%, #333333 70%, #333333);
        background-size: 20px 20px;
        color: #f8f9fa; /* светлый текст */
    }

.navbar {
    background-color: #ffffff; /* Фон навигации */
    border-bottom: 1px solid #ddd; /* Граница навигации */
}

.nav-link,
.dropdown-item {
    color: #000; /* Цвет ссылок */
}

    .nav-link:hover,
    .dropdown-item:hover {
        text-decoration: underline; /* Эффект при наведении */
        background-color: #e9ecef; /* Цвет фона при наведении в светлой теме */
    }

.card {
    border: 1px solid #ddd; /* Светлая граница для карточек */
    background-color: #ffffff; /* Фон карточек */
    border-radius: 0.5rem; /* Закругленные углы карточки */
    transition: transform 0.2s; /* Плавный переход при наведении */
    height: 350px; /* Фиксированная высота карточки */
    overflow: hidden; /* Скрывает переполнение, чтобы скругление работало */
}

body.dark-theme .navbar {
    background-color: #495057; /* Темный фон навигации */
    border-bottom: 1px solid #6c757d; /* Граница навигации */
}

body.dark-theme .nav-link,
body.dark-theme .dropdown-item {
    color: #f8f9fa; /* Светлый цвет ссылок */
}

body.dark-theme .card {
    border: 1px solid #6c757d; /* Темная граница для карточек */
    background-color: #495057; /* Темный фон карточек */
}

.btn {
    border-radius: 0.25rem; /* Закругленные углы для кнопок */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход для фона и цвета текста */
}

.btn-primary {
    background-color: #258cfb; /* Основной цвет кнопок */
    color: white; /* Цвет текста на кнопках */
}

    .btn-primary:hover {
        background-color: #1a6bbd; /* Темный цвет при наведении */
    }

body.dark-theme .btn-primary {
    background-color: #007bff; /* Цвет кнопок в темной теме */
}

.fixed-image-container,
.image-container {
    width: 100%;
    border-radius: 0.5rem; /* Закругленные углы для контейнера изображения */
}

.fixed-image-container {
    height: 450px; /* Фиксированная высота контейнера */
    overflow: hidden; /* Скрывает любые части изображения, выходящие за пределы контейнера */
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
    padding: 10px; /* Добавьте отступы вокруг изображения */
    box-sizing: border-box; /* Учитывает отступы в общей ширине и высоте */
}

.image-container {
    height: 600px; /* Фиксированная высота контейнера */
    display: flex; /* Используем Flexbox для центрирования */
    justify-content: center; /* Центрируем изображение по горизонтали */
    align-items: center; /* Центрируем изображение по вертикали */
}

.fixed-image {
    width: 100%; /* Ширина изображения 100% */
    height: 100%; /* Высота изображения равна высоте контейнера */
    object-fit: cover; /* Обеспечивает обрезку изображения, чтобы оно заполнило контейнер */
    object-position: center; /* Центрирует изображение внутри контейнера */
    border-radius: 0.5rem; /* Закругленные углы для изображения */
    margin: -10px; /* Убираем отрицательный отступ, чтобы изображение заполнило контейнер */
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute; /* Позиционируем кнопки абсолютно */
    bottom: 10px; /* Устанавливаем отступ от нижней части контейнера */
    z-index: 1; /* Устанавливаем z-index, чтобы кнопки были выше изображения */
    width: 5%; /* Ширина кнопок */
    height: auto; /* Высота кнопок автоматически */
    display: flex; /* Используем flex для центрирования иконок */
    align-items: center; /* Центрируем иконки по вертикали */
}

.carousel-control-prev {
    left: 10px; /* Отступ слева */
}

.carousel-control-next {
    right: 10px; /* Отступ справа */
}

p {
    line-height: 1.5; /* Увеличиваем межстрочный интервал для лучшей читаемости */
}

.card img {
    width: 100%; /* Ширина изображения 100% */
    height: 200px; /* Фиксированная высота изображения */
    object-fit: cover; /* Обеспечивает обрезку изображения, чтобы оно заполнило контейнер */
    border-radius: 0.5rem; /* Закругленные углы для изображения */
}

.card .card-body {
    color: #000; /* Черный цвет текста внутри карточки */
    height: calc(100% - 200px); /* Высота тела карточки, чтобы заполнить оставшееся пространство */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Выравнивание содержимого */
}

.card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}

.card-text {
    margin: 0; /* Убираем отступы */
}

.description-text {
    display: -webkit-box; /* Используем флекс-контейнер для многострочного текста */
    -webkit-line-clamp: 5; /* Ограничиваем количество строк до 5 */
    -webkit-box-orient: vertical; /* Устанавливаем ориентацию флекс-контейнера */
    overflow: hidden; /* Скрываем переполнение */
    text-overflow: ellipsis; /* Добавляем многоточие, если текст не помещается */
    line-height: 1.5; /* Устанавливаем межстрочный интервал для лучшей читаемости */
    max-height: 7.5em; /* Ограничиваем высоту (5 строки * 1.5em) */
}

.form-control {
    border-radius: 0.25rem; /* Закругленные углы для полей ввода */
    border: 1px solid #ccc; /* Светлая граница */
}

    .form-control:focus {
        border-color: #258cfb; /* Цвет границы при фокусе */
        box-shadow: 0 0 0 0.2rem rgba(37, 140, 251, 0.25); /* Тень при фокусе */
    }

body.dark-theme .form-control {
    border: 1px solid #6c757d; /* Темная граница для полей ввода */
}

/* Стили для таблиц */
body.dark-theme .cart-table,
body.dark-theme .order-table,
body.light-theme .order-table {
    background-color: #495057; /* Фон таблицы в темной теме */
    color: #f8f9fa; /* Цвет текста */
}

body.light-theme .order-table {
    background-color: #ffffff; /* Фон таблицы в светлой теме */
    color: #000; /* Цвет текста */
}

    .cart-table th,
    .order-table th,
    body.light-theme .order-table th {
        background-color: #6c757d; /* Фон заголовков таблицы */
        color: #f8f9fa; /* Цвет текста заголовков */
    }

    body.light-theme .order-table th {
        background-color: #f8f9fa; /* Фон заголовков таблицы в светлой теме */
        color: #000; /* Цвет текста заголовков в светлой теме */
    }

    .cart-table td,
    .order-table td,
    body.light-theme .order-table td {
        background-color: #343a40; /* Фон ячеек таблицы в темной теме */
        color: #f8f9fa; /* Цвет текста ячеек в темной теме */
    }

    body.light-theme .order-table td {
        background-color: #ffffff; /* Фон ячеек таблицы в светлой теме */
        color: #000; /* Цвет текста ячеек в светлой теме */
    }

body.dark-theme .order-table,
body.dark-theme .cart-table {
    border: 1px solid #6c757d; /* Граница таблицы */
}

    body.dark-theme .order-table th,
    body.dark-theme .order-table td,
    body.dark-theme .cart-table th,
    body.dark-theme .cart-table td {
        border: 1px solid #6c757d; /* Границы ячеек */
    }

/* Стили для заголовков в темной теме */
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme p,
body.dark-theme ul,
body.dark-theme li {
    color: #f8f9fa; /* Светлый цвет для заголовков */
}

h1, h2, h3, h4, h5, h6 {
    color: #000; /* Черный цвет заголовков */
    margin-bottom: 1rem; /* Отступ снизу для заголовков */
}

body.dark-theme h4 {
    color: #f8f9fa; /* Белый цвет для заголовка h4 в темной теме */
}

body.dark-theme .card-body {
    color: #f8f9fa; /* Светлый цвет текста в карточке в темной теме */
}

    body.dark-theme .card-body h5.card-title,
    body.dark-theme .card-body p {
        color: #f8f9fa; /* Светлый цвет для заголовков и параграфов в карточке в темной теме */
    }

/* Отступы для заголовков */
body.dark-theme h2 {
    margin-bottom: 1rem; /* Отступ снизу для заголовка h2 */
}

body.dark-theme h3,
body.dark-theme h4 {
    margin-bottom: 0.5rem; /* Отступ снизу для заголовков h3 и h4 */
}

.accordion {
    margin: 20px 0;
}

    .accordion h3 {
        cursor: pointer;
        background-color: #f1f1f1; /* Светлая тема */
        padding: 10px;
        border: 1px solid #ccc;
        margin: 0;
    }

/* Стили для светлой темы кнопок */
body.light-theme .btn-outline-primary,
body.light-theme .btn-group-toggle .btn-outline-primary {
    border-color: #258cfb; /* Цвет границы */
    color: #258cfb; /* Цвет текста */
    background-color: transparent; /* Прозрачный фон */
}

    body.light-theme .btn-outline-primary:hover,
    body.light-theme .btn-group-toggle .btn-outline-primary:hover,
    body.light-theme .btn-group-toggle .btn-outline-primary:active {
        background-color: #7fc7ff; /* Цвет фона при наведении и нажатии */
        color: #fff; /* Цвет текста при наведении и нажатии */
    }

/* Стили для темной темы кнопок */
body.dark-theme .btn-outline-primary,
body.dark-theme .btn-group-toggle .btn-outline-primary {
    border-color: #6c757d; /* Цвет границы */
    color: #f8f9fa; /* Светлый цвет текста */
    background-color: transparent; /* Прозрачный фон */
}

    body.dark-theme .btn-outline-primary:hover,
    body.dark-theme .btn-group-toggle .btn-outline-primary:hover,
    body.dark-theme .btn-group-toggle .btn-outline-primary:active {
        background-color: #495057; /* Цвет фона при наведении и нажатии */
        color: #fff; /* Цвет текста при наведении и нажатии */
    }

.panel {
    display: none;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-top: none;
}

@media (max-width: 576px) {
    .card {
        margin-bottom: 1rem; /* Отступ между карточками на мобильных устройствах */
        flex-direction: column; /* Изменяем направ��ение flexbox на вертикальное */
    }

    .col-md-6 {
        flex-grow: 1;
        height: 100%;
    }

    .row.no-gutters {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow: auto;
    }

    .card-title {
        font-size: 16px; /* Увеличиваем размер названия товара на мобильных устройствах */
    }

    .card-text {
        font-size: 14px; /* Увеличиваем размер текста на мобильных устройствах */
    }

    .description-text {
        -webkit-line-clamp: 3; /* Уменьшаем количество строк текста на мобильных устройствах */
        max-height: 4.5em; /* Уменьшаем высоту текста на мобильных устройствах */
    }
}



@media (max-width: 768px) {
    .card-title {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .card-title {
        font-size: 20px;
    }
}



